<section class="contant  pt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 text-center box pb-4" >
                <a href="tel:+201270122393">
                    <div class="icon ">
                    <fa-icon [icon]="faPhone"></fa-icon>
                    </div>
                    <div class="contant-me">
                        <label for=""> Call Me On</label><br><span>+201270122393</span>
                    </div>
                </a> 
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center box pb-4">
                <div class="icon ">
                    <fa-icon [icon]="faMapLocation"></fa-icon> 
                 </div>
                 <div class="contant-me">
                     <label for="">Locationt</label><br><span> Bani-Sweif , Egyp</span>
                 </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 text-center box pb-4">
                <a href="mailto:ahmedramadan012r@gmail.com">
                    <div class="icon ">
                        <fa-icon [icon]="faMailBulk"></fa-icon>   
                    </div>
                    <div class="contant-me">
                        <label for=""> Email</label><br><span>ahmedramadan012r@gmail.com</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-md-12">
                <div class="form-contant">
                    <form action="" class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <input class="form-control p-3" type="text" placeholder="Enter Name...">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input class="form-control p-3" type="email" placeholder="Enter Email...">
                            </div>
                        </div>
                        <div class="row pt-5">
                            <div class="col-sm-12">
                                <input type="text" class="form-control p-3" placeholder="Enter Subject...">
                            </div>
                        </div>
                        <div class="row pt-5 pb-5">
                            <div class="col-sm-12">
                                <textarea class="form-control p-3" name="" id="" cols="30" rows="10" placeholder="Enter Your Massgae..."></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn bg-btn ">Send Massage</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
