<section class="section">
    <div class="container">
      <div class="bg-imag p-5">
        <div class="row">
          <div class=" col-sm-12 ">
            <h3 class="card-title pt-5  bg-main"> I'm Ahmed Ramadan AbdElatii</h3>
            <h4 class="card-text pt-2">I'm a Full Stack Web Developer  <mark>PHP-Laravel</mark></h4>
            <p class="text pt-2 pb-5">
                Passionate Full Stack developer with 1 year experience in
                PHP(Laravel), Good experience in nodeJs with other web 
                technologies such as, HTML, CSS,Bootstarp , CSS, 
                Angulerand javaScript .
                Comfortably work with MYSQL.
            </p>
          </div>
          <br>
          <hr>
          <div class="col-md-12 pt-5">
              <div class="row">
                    <div class="col-md-6 person-info  pt-3">
                      <label for="" class="bg-main">Birthday : </label> 29 December 1996
                    </div>
                    <div class="col-md-6 person-info  pt-3">
                      <label for="" class="bg-main">Age : </label> 25 Years
                    </div>
                    <div class="col-md-6 person-info  pt-3">
                    <label for="" class="bg-main">Email  : </label> ahmedramadan012r@gmail.com
                    
                    </div>
                    <div class="col-md-6 person-info  pt-3">
                        <label for="" class="bg-main">Phone  : </label> +201270122393
                    </div>
                    <div class="col-md-6 person-info  pt-3">
                        <label for="" class="bg-main">Country   : </label> Egypt
                    </div>
                    <div class="col-md-6 person-info  pt-3">
                        <label for="" class="bg-main">Freelancer    : </label> Available
                    </div>
              </div>
          </div>

          <br><br>
            
        </div>
        <br> <br>
        <a download href="assets/cv/Ahmed Ramadan.CV .pdf" class="btn bg-btn">download Cv</a>   

        <a href="#contant" routerLink="/contant" class="btn bg-btn ">Hire Me</a> 
      </div>
    </div>
  </section>

<section class="skils container pt-5 pb-5">
  <div class="row">
    <div class="col-sm-12">
      <div class="skill-header text-center p-2">
        <h2 class="bg-main">My Skills</h2>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-6 col-sm-12 pt-2">
      <div class="row">
        <div class="col-sm-6 fs-skill">
          <fa-icon [icon]="faAngular"> </fa-icon> <label for=""> Angular </label> : 
        </div>
        <div class="col-sm-6 fs-skill text-end">
          <span class="">80%</span> 
        </div>
      </div>
      <div class="progress">
        <div class="pogress-bar progress-bar-striped progress-bar-animated pg-progress" role="progressbar" aria-valuenow="80%" aria-valuemin="100%" style="width: 80%;"></div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 pt-2">
      <div class="row">
        <div class="col-sm-6 fs-skill">
          <fa-icon [icon]="faPhp"></fa-icon><label for="">PHP </label> : 
        </div>
        <div class="col-sm-6 fs-skill text-end">
          <span class="">80%</span> 
        </div>
      </div>
      <div class="progress">
        <div class="pogress-bar progress-bar-striped progress-bar-animated pg-progress" role="progressbar" aria-valuenow="80%" aria-valuemin="100%" style="width: 80%;"></div>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-md-6 col-sm-12 pt-2">
      <div class="row">
        <div class="col-sm-6 fs-skill">
          <fa-icon [icon]="faJava"></fa-icon><label for="">JavaScript </label> : 
        </div>
        <div class="col-sm-6 fs-skill text-end">
          <span class="">75%</span> 
        </div>
      </div>
      <div class="progress">
        <div class="pogress-bar progress-bar-striped progress-bar-animated pg-progress" role="progressbar" aria-valuenow="75%" aria-valuemin="100%" style="width: 75%;"></div>
      </div>
    </div>
    
    <div class="col-md-6 col-sm-12 pt-2">
      <div class="row">
        <div class="col-sm-6 fs-skill">
          <fa-icon [icon]="faLaravel"></fa-icon><label for="">Laravel </label> : 
        </div>
        <div class="col-sm-6 fs-skill text-end">
          <span class="">75%</span> 
        </div>
      </div>
      <div class="progress">
        <div class="pogress-bar progress-bar-striped progress-bar-animated pg-progress" role="progressbar" aria-valuenow="75%" aria-valuemin="100%" style="width: 75%;"></div>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-md-6 col-sm-12 pt-2">
      <div class="row">
        <div class="col-sm-6 fs-skill">
          <fa-icon [icon]="faHtml5"></fa-icon><label for="">HTML5 </label> : 
        </div>
        <div class="col-sm-6 fs-skill text-end">
          <span class="">100%</span> 
        </div>
      </div>
      <div class="progress">
        <div class="pogress-bar progress-bar-striped progress-bar-animated pg-progress" role="progressbar" aria-valuenow="100%" aria-valuemin="100%" style="width: 100%;"></div>
      </div>
    </div>
    
    <div class="col-md-6 col-sm-12 pt-2">
      <div class="row">
        <div class="col-sm-6 fs-skill">
          <label for="">MySql </label> : 
        </div>
        <div class="col-sm-6 fs-skill text-end">
          <span class="">90%</span> 
        </div>
      </div>
      <div class="progress">
        <div class="pogress-bar progress-bar-striped progress-bar-animated pg-progress" role="progressbar" aria-valuenow="90%" aria-valuemin="100%" style="width: 90%;"></div>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-md-6 col-sm-12 pt-2">
      <div class="row">
        <div class="col-sm-6 fs-skill">
          <fa-icon [icon]="faCss3"></fa-icon><label for="">CSS3 </label> : 
        </div>
        <div class="col-sm-6 fs-skill text-end">
          <span class="">100%</span> 
        </div>
      </div>
      <div class="progress">
        <div class="pogress-bar progress-bar-striped progress-bar-animated pg-progress" role="progressbar" aria-valuenow="100%" aria-valuemin="100%" style="width: 100%;"></div>
      </div>
    </div>
    
    <div class="col-md-6 col-sm-12 pt-2">
      <div class="row">
        <div class="col-sm-6 fs-skill">
          <fa-icon [icon]="faNodeJs"></fa-icon><label for="">Node js </label> : 
        </div>
        <div class="col-sm-6 fs-skill text-end">
          <span class="">70%</span> 
        </div>
      </div>
      <div class="progress">
        <div class="pogress-bar progress-bar-striped progress-bar-animated pg-progress" role="progressbar" aria-valuenow="70%" aria-valuemin="100%" style="width: 70%;"></div>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-md-6 col-sm-12 pt-2">
      <div class="row">
        <div class="col-sm-6 fs-skill">
          <fa-icon [icon]="faBootstrap"></fa-icon><label for="">Bootstarp </label> : 
        </div>
        <div class="col-sm-6 fs-skill text-end">
          <span class="">95%</span> 
        </div>
      </div>
      <div class="progress">
        <div class="pogress-bar progress-bar-striped progress-bar-animated pg-progress" role="progressbar" aria-valuenow="95%" aria-valuemin="100%" style="width: 95%;"></div>
      </div>
    </div>
    
    <div class="col-md-6 col-sm-12 pt-2">
      <div class="row">
        <div class="col-sm-6 fs-skill">
          <fa-icon [icon]="faGithub"></fa-icon><label for="">Github </label> : 
        </div>
        <div class="col-sm-6 fs-skill text-end">
          <span class="">90%</span> 
        </div>
      </div>
      <div class="progress">
        <div class="pogress-bar progress-bar-striped progress-bar-animated pg-progress" role="progressbar" aria-valuenow="90%" aria-valuemin="100%" style="width: 90%;"></div>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-md-6 col-sm-12 pt-2">
      <div class="row">
        <div class="col-sm-6 fs-skill">
          <fa-icon [icon]="faJava"></fa-icon><label for="">Bom , Dom </label> : 
        </div>
        <div class="col-sm-6 fs-skill text-end">
          <span class="">70%</span> 
        </div>
      </div>
      <div class="progress">
        <div class="pogress-bar progress-bar-striped progress-bar-animated pg-progress" role="progressbar" aria-valuenow="70%" aria-valuemin="100%" style="width: 70%;"></div>
      </div>
    </div>
    
    <div class="col-md-6 col-sm-12 pt-2">
      <div class="row">
        <div class="col-sm-6 fs-skill">
          <fa-icon [icon]="faLine"></fa-icon><label for="">Command Line </label> : 
        </div>
        <div class="col-sm-6 fs-skill text-end">
          <span class="">85%</span> 
        </div>
      </div>
      <div class="progress">
        <div class="pogress-bar progress-bar-striped progress-bar-animated pg-progress" role="progressbar" aria-valuenow="85%" aria-valuemin="100%" style="width: 85%;"></div>
      </div>
    </div>
  </div>

 
</section>

<section class="education container">
  <div class="row">
    <div class=" padd-15 col-md-6 col-sm-12">
        <h3 class="title">Education</h3>
        <div class="row">
            <div class="timeline-box padd-15">
                <div class="timeline shadow-dark">
                    <!--لو عاوز ازود اكتر من واحد هعيد ال تايم ايتم  كله-->
                    <!--timeline item-->
                    <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h4 class="timeline-date">
                            <i class="fa fa-calendar"></i>July 2015 - May 2021

                        </h4>
                        <h4 class="timeline-title">
                          Bachelor of Computer science at faculty of 
                          computers and information systems at Beni 
                          Suef University
                        </h4>
                        <p class="timeline-text"> i am a self-learner, i have learned front-end and back-end web developer through online courses like coursera and udemy</p>
                    </div>
                    <!--timeline item end-->
                </div>
            </div>
        </div>
    </div>
    <div class="experience padd-15 col-md-6 col-sm-12 pb-5">
        <h3 class="title">Experience</h3>
        <div class="row">
            <div class="timeline-box padd-15">
                <div class="timeline shadow-dark">
                    <!--لو عاوزة ازود اكتر من واحد هعيد ال تايم ايتم  كله-->
                    <!--timeline item-->
                    <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h4 class="timeline-date">
                            <i class="fa fa-calendar"></i>  since 2019
                        </h4>
                        <h4 class="timeline-title">
                            Front-end Developer
                        </h4>
                        <p class="timeline-text"> I started on Frontend developer filed since 2019. I have gained a lot of skills such as HTML, CSS, JavaScript, BootStrap, and Angular. I have made a lot of beautiful projects during my learning period.
                           I enjoy by doing every project.
                           All projects are resposive to all screens
                          </p>
                    </div>
                    <!--timeline item end-->
                    <!--timeline item-->
                    <div class="timeline-item">
                      <div class="circle-dot"></div>
                      <h4 class="timeline-date">
                          <i class="fa fa-calendar"></i>  since 2020
                      </h4>
                      <h4 class="timeline-title">
                          back-end Developer
                      </h4>
                      <p class="timeline-text">
                         I started on back-end developer filed since 2020. 
                         I have gained a lot of skills such as PHP, Laravel Framewark, Mysql and node js. 
                         I have made a lot of beautiful projects during my learning period.
                         
                         
                        </p>
                  </div>
                  <!--timeline item end-->
                    <!--timeline item-->
                    <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h4 class="timeline-date">
                            <i class="fa fa-calendar"></i> 2021 - present
                        </h4>
                        <h4 class="timeline-title">
                            Freelancer
                        </h4>
                        <p class="timeline-text"> i worked with back-end team in freelancing websites </p>
                    </div>
                    <!--timeline item end-->
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="projects container pt-5 pb-5">
  <div class="row">
    <div class=" padd-15 col-sm-12">
      <div class="skill-header p-2  text-center">
        <h3 class="bg-main">My Projects</h3>
      </div>
      
      <div class="row pt-5">
          <div class="timeline-box padd-15">
              <div class="timeline shadow-dark">
                  <!--لو عاوزة ازود اكتر من واحد هعيد ال تايم ايتم  كله-->
                  <!--timeline item-->
                  <div class="timeline-item">
                      <div class="circle-dot"></div>
                     
                      <h4 class="timeline-title">
                        Resturant App : 
                      </h4>
                      <p class="timeline-text">
                        Angular web app 
                        that used to manage the online 
                        Oreders
                       </p>
                  </div>
                  <!--timeline item end-->
                  <!--timeline item-->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                   
                    <h4 class="timeline-title">
                      Shop App  : 
                    </h4>
                    <p class="timeline-text">
                      web app manages products 
                      using(HTML, CSS, Bootstrap, PHP, 
                      PDO,MYSQL).
                     </p>
                </div>
                <!--timeline item end-->
                <!--timeline item-->
                <div class="timeline-item">
                  <div class="circle-dot"></div>
                 
                  <h4 class="timeline-title">
                    Invoices App : 
                  </h4>
                  <p class="timeline-text pb-3">
                     Web application specialized 
                      in debt collection for institutions
                      Using(PHP"Laravel framework" , MYSQL ).
                      <br><br>
                      <a href="https://nafezly.com/portfolio/25293-Invoices-App" target="_blank" class="btn btn-outline-primary  btn-sm">   Show Project</a>

                   </p>
              </div>
              <!--timeline item end-->
              <!--timeline item-->
            <div class="timeline-item">
              <div class="circle-dot"></div>
             
              <h4 class="timeline-title">
                Personal Portfolio:
              </h4>
              <p class="timeline-text">
                Personal Portfolio Useing(Angular , Bootstrap)
                
               </p>
          </div>
          <!--timeline item end-->
              <!--timeline item-->
              <div class="timeline-item">
                <div class="circle-dot"></div>
               
                <h4 class="timeline-title">
                  Graduation Project:
                </h4>
                <p class="timeline-text">
                  (Chat Bot) A web application that helps 
                  the student obtain all the information 
                  about the college .
                  Grade: Excellent.
                  
                 </p>
            </div>
            <!--timeline item end-->
            
              </div>
          </div>
      </div>
  </div>
  </div>
</section>