.nav-item a{
    color: #fff !important;
    padding: 13px;
    font-weight: bold;
}
.nav-item a:hover{
    color: #fff;
    background-color: #e41f26;
    border-radius: 5px;
}

ul li{
    margin-right: 20px;
    padding: 10px;
}
.active{
    color: #fff !important;
    background-color: #e41f26;
    border-radius: 5px;
}

.bg-main {
    background-color: #353793;
}