<section class="service section active pt-5 pb-5" id="services" >
    <div class="container">
        <div class="row">
            
        </div>
        <div class="row pt-5">
            <!--service item-->
            <div class="service-item padd-15 col-md-4 col-sm-12 pb-5">
                <div class="service-item-inner">
                    <div class="icon">
                        <img src="assets/images/001-laptop.png" width="64px" height="64px">
                    </div>
                    <h4>Web Development</h4>
                    <p>I can design a responsive website for you by using HTML, CSS, BootStrap, JQuery, and JavaScript Programming Language</p>
                </div>
            </div>
            <!--service item end-->
            <!--service item-->
            <div class="service-item padd-15 col-md-4 col-sm-12 pb-5">
                <div class="service-item-inner">
                    <div class="icon">
                        <img src="assets/images/003-responsive.png" width="64px" height="64px">
                    </div>
                    <h4>Responsive Design</h4>
                    <p>I can design a 100% responsive website for you with all devices, Tablets, and Browsers.</p>
                </div>
            </div>
            <!--service item end-->
            <!--service item-->
            <div class="service-item padd-15 col-md-4 col-sm-12 pb-5">
                <div class="service-item-inner">
                    <div class="icon">
                        <img src="assets/images/004-web-design.png" width="64px" height="64px">
                    </div>
                    <h4>Creative Design</h4>
                    <p>I can Edit your current website. Like changing the color or even adding a new content to make it seem better.</p>
                </div>
            </div>
            <!--service item end-->
            <!--service item-->
            <div class="service-item padd-15 col-md-4 col-sm-12 pb-5">
                <div class="service-item-inner">
                    <div class="icon">
                        <img src="assets/images/002-think.png" width="64px" height="64px">
                    </div>
                    <h4>Retouch</h4>
                    <p>If you have a website and you wanna create a new design for it. So, let me tell you that I can do that easily and in perfect way.</p>
                </div>
            </div>
            <!--service item end-->
            <!--service item-->
            <div class="service-item padd-15 col-md-4 col-sm-12 pb-5">
                <div class="service-item-inner">
                    <div class="icon">
                        <img src="assets/images/001-lamp.png" width="64px" height="64px">
                    </div>
                    <h4>Web Idea</h4>
                    <p>I can turn your ideas to a real projects with high quality. Beside that i can give you more ideas to make you website much better.</p>
                </div>
            </div>
            <!--service item end-->
            <!--service item-->
            <div class="service-item padd-15 col-md-4 col-sm-12 pb-5">
                <div class="service-item-inner">
                    <div class="icon">
                        <img src="assets/images/005-help.png" width="64px" height="64px">
                    </div>
                    <h4>Support</h4>
                    <p>Support is available if you wanna make any changes for your website.</p>
                </div>
            </div>
            <!--service item end-->
        </div>

    </div>
</section>